<%- include("partials/header.ejs") %> 

<% if (locals.mensajeAlerta) { %>
    <p><%= mensajeAlerta %></p> 


<%  } else if (locals.customName) { %>

    
    <header>
<h1>Aquí tienes tus nombres</h1>
</header>

<main>
    
<div class="containerList">
        <ul>
            <% for(var i=0; i<customName.length; i++) { %>
                <li>
                    <%= customName[i] %>
                </li>
            <% } %>
        </ul>
    </div>      
   

  <% } else { %>
<h1>Algo salió mal</h1>
<% } %> 

</main>
<input class="buttonGenerator" type="button" onclick="history.back()" value="Volver" />

<%- include("partials/footer.ejs") %>
