@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&family=Red+Hat+Display:wght@800&family=Spinnaker&display=swap');

body {
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/hixs-evolution.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  color: hotpink;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.5;
}

section {
 color: #fff;
 margin-bottom: 80px;
}

main {
width: 75%;
margin: auto;
}

footer p span {
  color: grey;
 }

h1 {
  font-size: 3rem;
  font-family: 'Spinnaker', sans-serif;
  font-weight: 800;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #fff;
 margin-bottom: 50px;
 animation: pop 2s ease 0s 1 normal none;
}

@keyframes pop {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}

h1 span {
  color: hotpink;
  font-size: 6rem;
 }

.tiktokIcon {
  width: 60px;
  height: 60px;
}

/* .formulario {
  box-sizing: border-box;
  border: 5px solid #974ec3;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 600;
  padding: 30px;
  background: transparent;
  backdrop-filter: blur(2px);
  bbox-shadow: 0px 0px 30px -3px #B931FC;
  -webkit-box-shadow: 0px 0px 50px -3px #B931FC;
  -moz-box-shadow: 0px 0px 50px -3px #B931FC;
  animation: pop 2s ease 0s 1 normal forwards;
} */

 #box {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Raleway';
  padding: 30px;
  box-shadow: 0px 0px 50px -3px #B931FC;
  margin-bottom: 80px;
} 
.gradient-border {
  --borderWidth: 10px;
  background: black;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  -webkit-animation: animatedgradient 3s ease alternate infinite;
          animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@-webkit-keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.formulario label {
  color: #fff;
  cursor: pointer;
}

.labelButton {
  font-weight: 600;
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
  border: 2px solid white;
  transition: all 0.5s ease 0s;
  display: block;
  text-align: right;
  padding: 12px 30px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  text-align: center;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  line-height: 2em;
  border-radius: 50px;
}

input[type="radio"] + label:before {
  content: "";
  width: 20px;
  height: 20px;
  float: right;
  border: 2px solid #ccc;
  background: #fff;
  margin-top: 0.5em;
  border-radius: 100%;
}

input[type="radio"]:checked + label,
input[type="checkbox"]:checked + label {
  background: hotpink;
}
input[type="radio"]:checked + label:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid hotpink;
  float: right;
  margin-top: 0.8em;
  margin-right: -0.9em;
  border-radius: 100%;
}

fieldset {
  border-radius: 10px;
  border: 2px solid white;
  margin-bottom: 20px;
  color: hotpink;
}

section fieldset p {
  text-align: center;
}

legend {
  text-transform: uppercase;
  padding: 0.3em 0.6em;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 1.2em;
  letter-spacing: 5px;
  font-weight: 600;
  font-family: 'Red Hat Display', sans-serif;
  color: white;
}

.nombre input {
  border: 0;
  border-radius: 10px;
  font-size: 0.9rem;
  background: #fff;
  padding: 10px;
  color: rgb(1, 1, 1);
  cursor: pointer;
  margin-top: 15px;
}

.buttonGenerator {
  align-items: center;
  background-color: hotpink;
  border: 2px solid #000;
  border-radius: 10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: 1px;
  line-height: 30px;
  min-width: 140px;
  outline: 0;
  padding: 5px 50px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttonGenerator:hover,
.buttonGenerator:active {
  border: 4px solid hotpink;
  color: rgb(0, 0, 0);
  background-color: #fff;
  letter-spacing: 3px;
}

.containerList {
  border: 4px solid hotpink;
  border-radius: 10px;
  background: transparent;
  backdrop-filter: blur(2px);
  color: #fff;
  box-shadow: 10px -9px 12px 0px rgba(60, 55, 55, 1);
  -webkit-box-shadow: 10px -9px 12px 0px rgba(60, 55, 55, 1);
  -moz-box-shadow: 10px -9px 12px 0px rgba(60, 55, 55, 1);
  padding: 10px;
}

ul {
  column-count: 4;
}

li {
  list-style: none;
  text-align: justify;
  font-size: 1.2rem;
}

section p {
  text-align: left;
}



@media (max-width: 660px) {
  ul {
    column-count: 1;
  }
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 2rem;
    
  }
  h1 span {
    font-size: 2.5rem;
  }
  .tiktokIcon {
    width: 30px;
    height: 30px;
  }
}

